# Data Bootcamp Selection Challenge

In [1]:
import pandas as pd
import numpy as np
url = "https://storage.googleapis.com/deb-evaluation-materials/vehicles.csv"
df = pd.read_csv(url)

In [2]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Qn. 1
What is the average CO2 emmission per gram/mile of all Volkswagen cars?
Format: A floating number

In [3]:
import pandas as pd

def calculate_co2_emission_mean(df):
    """
    Calculate the mean CO2 emission for Volkswagen vehicles in the given DataFrame.

    Parameters:
    df (pandas.DataFrame): The input DataFrame containing vehicle data.

    Returns:
    float: The mean CO2 emission rounded to three decimal places.
    """
    # Filter out Volkswagen data
    volkswagen_data = df[df["Make"] == "Volkswagen"]
   
    # Calculate the mean CO2 emission
    mean_co2_emission = volkswagen_data['CO2 Emission Grams/Mile'].mean()
    
    return round(mean_co2_emission, 3)

# Assuming you have a DataFrame named 'df'
calculate_co2_emission_mean(df)

392.742

In [4]:
type(calculate_co2_emission_mean(df))

numpy.float64

## Q2.
Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
NOTE: Consider only the name of the models and their brand, that is use only the Make and Model columns
Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
Hint: You can use the pandas df.values.tolist() function to format your answer.
Example answer:
[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

In [5]:
import pandas as pd

def top_five_unique_brands(df):
    """
    Get the top five brands with the highest number of unique models.

    Parameters:
    df (pandas.DataFrame): The input DataFrame containing vehicle data.

    Returns:
    list: A list of lists containing the top five brands and their unique model counts.
    """
    # Group by 'Make' and count unique 'Models'
    brand_model_counts = df.groupby('Make')['Model'].nunique()
    
    # Get the top five brands
    top_brands = brand_model_counts.sort_values(ascending=False).head(5)
    
    # Convert the result to a list of lists
    top_five_unique = top_brands.reset_index().values.tolist()
    
    return top_five_unique

result = top_five_unique_brands(df)
print(result)

[['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]]

## Q3. 
What are all the different types of fuels in the dataset sorted alphabetically?
Format: A list of strings sorted alphabetically.
Example Answer:
['Regular', 'Premium']

In [6]:
def get_sorted_fuel_types(data_frame, column_name='Fuel Type'):
    """
    Get a sorted list of different fuel types from the specified column in the DataFrame.

    Parameters:
    data_frame (pandas.DataFrame): The input DataFrame containing the data.
    column_name (str): The column name to extract fuel types from. Default is 'Fuel Type'.

    Returns:
    list: A sorted list of different fuel types.
    """
    fuel_types = sorted(data_frame[column_name].unique())
    return fuel_types

print(get_sorted_fuel_types(df))

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

# Qn. 4
Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order BUT without modifying the negative values

In [7]:
import pandas as pd

def get_top_toyota_cars(df, num_cars=9):
    """
    Get information about the top Toyota cars based on Fuel Barrels/Year Z-scores.

    Parameters:
    df (pandas.DataFrame): The input DataFrame containing vehicle data.
    num_cars (int): Number of top cars to retrieve. Default is 9.

    Returns:
    list: A list of lists containing information about the top Toyota cars.
    """
    # Filter Toyota cars
    filtered_toyota_cars = df[df['Make'] == 'Toyota']

    # Calculate Z-scores for Fuel Barrels/Year
    fuel_barrels_z_scores = (filtered_toyota_cars['Fuel Barrels/Year'] - filtered_toyota_cars['Fuel Barrels/Year'].mean()) / filtered_toyota_cars['Fuel Barrels/Year'].std()

    # Add Z-scores as a new column
    filtered_toyota_cars['Fuel Barrels/Year Z-score'] = fuel_barrels_z_scores

    # Sort the DataFrame first by absolute Z-scores and then by Year
    sorted_toyota_df = filtered_toyota_cars.sort_values(by=['Fuel Barrels/Year Z-score', 'Year'], ascending=[False, False])

    # Select the top cars and relevant columns
    top_cars_info = sorted_toyota_df.head(num_cars)[['Model', 'Year', 'Fuel Barrels/Year Z-score']].values.tolist()

    return top_cars_info

get_top_toyota_cars(df)

<ipython-input-7-73f9c5283449>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_toyota_cars['Fuel Barrels/Year Z-score'] = fuel_barrels_z_scores

[['Cab/Chassis 2WD', 1993, 4.112255865424778],
 ['Cab/Chassis 2WD', 1992, 4.112255865424778],
 ['Cab/Chassis 2WD', 1991, 4.112255865424778],
 ['Cab/Chassis 2WD', 1990, 4.112255865424778],
 ['Cab/Chassis 2WD', 1989, 4.112255865424778],
 ['Cab/Chassis 2WD', 1993, 3.3791118637260777],
 ['Cab/Chassis 2WD', 1992, 3.3791118637260777],
 ['Land Cruiser Wagon 4WD', 1992, 3.3791118637260777],
 ['Cab/Chassis 2WD', 1991, 3.3791118637260777]]

# Qn. 5
 Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

In [8]:
import pandas as pd
def get_mpg_changes_for_vw_golf_manual(df):
    """
    Get changes in Combined MPG for Volkswagen Golf cars with Manual 5-spd transmission and Regular Fuel Type.

    Parameters:
    df (pandas.DataFrame): The input DataFrame containing vehicle data.

    Returns:
    list: A list of lists containing changes in MPG for the specified Volkswagen Golf cars.
    """
    # Filter Volkswagen Golf cars with Manual 5-spd transmission and Regular Fuel Type
    filtered_vw_golf = df[
        (df['Make'] == 'Volkswagen') &
        (df['Model'] == 'Golf') &
        (df['Transmission'] == 'Manual 5-spd') &
        (df['Fuel Type'] == 'Regular')
    ]

    # Calculate the changes in Combined MPG with the previous model
    filtered_vw_golf['MPG Change'] = filtered_vw_golf['Combined MPG'].diff()

    # Fill the first row with 0, as there is no previous model
    filtered_vw_golf.loc[filtered_vw_golf.index[0], 'MPG Change'] = 0

    # Select the required columns and sort by Year
    mpg_changes = filtered_vw_golf[['Year', 'Combined MPG', 'MPG Change']].sort_values(by='Year').values.tolist()

    return mpg_changes

get_mpg_changes_for_vw_golf_manual(df)

<ipython-input-8-105bca3c0bfa>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_vw_golf['MPG Change'] = filtered_vw_golf['Combined MPG'].diff()
C:\Users\USER\miniconda3\envs\datascience\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

[[1986.0, 26.0, 0.0],
 [1987.0, 26.0, 0.0],
 [1988.0, 25.0, -1.0],
 [1989.0, 25.0, 0.0],
 [1999.0, 24.0, -1.0],
 [2000.0, 24.0, 0.0],
 [2001.0, 24.0, 0.0],
 [2002.0, 24.0, 0.0],
 [2003.0, 24.0, 0.0],
 [2004.0, 24.0, 0.0],
 [2005.0, 24.0, 0.0],
 [2006.0, 24.0, 0.0],
 [2010.0, 25.0, 1.0],
 [2011.0, 26.0, 1.0],
 [2012.0, 26.0, 0.0],
 [2013.0, 26.0, 0.0],
 [2015.0, 30.0, 4.0],
 [2016.0, 30.0, 0.0],
 [2017.0, 29.0, -1.0]]

# Q. 6
What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda
Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda

In [9]:
def get_top_emission_values_for_brands(df, selected_brands):
    """
    Get the top 5 CO2 emission values for each selected car brand.

    Parameters:
    df (pandas.DataFrame): The input DataFrame containing vehicle data.
    selected_brands (list): List of selected car brands to analyze.

    Returns:
    list: A list of lists containing the top 5 CO2 emission values for each selected brand.
    """
    top_emission_values = []

    for brand in selected_brands:
        brand_cars = df[df['Make'] == brand].sort_values(by='CO2 Emission Grams/Mile').head(5)
        brand_emission_values = [brand] + brand_cars['CO2 Emission Grams/Mile'].tolist()
        top_emission_values.append(brand_emission_values)

    return top_emission_values

selected_brands = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']

get_top_emission_values_for_brands(df,selected_brands)

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

# Q.7
Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.
Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

In [10]:
def calculate_median_mpg_by_year(df, year_ranges):
    """
    Calculate the median Combined MPG for each year group in the specified year ranges.
    
    Args:
        df (pd.DataFrame): The DataFrame containing the car data.
        year_ranges (list of tuple): List of tuples representing the year ranges.

    Returns:
        list: A list of tuples containing the year range and its corresponding median MPG.
    """
    median_mpg_by_year = []

    for lower, upper in year_ranges:
        year_group_cars = df[(df['Year'] >= lower) & (df['Year'] <= upper)]
        median_mpg = year_group_cars['Combined MPG'].median()
        median_mpg_by_year.append([(lower, upper), median_mpg])

    return median_mpg_by_year

# Assuming you have already read your dataset into a DataFrame named 'df'
year_ranges = [(1984, 1988), (1989, 1993), (1994, 1998), (1999, 2003),
               (2004, 2008), (2009, 2013), (2014, 2018)]

result = calculate_median_mpg_by_year(df, year_ranges)
print(result)

[[(1984, 1988), 19.0], [(1989, 1993), 18.0], [(1994, 1998), 19.0], [(1999, 2003), 19.0], [(2004, 2008), 19.0], [(2009, 2013), 21.0], [(2014, 2018), 22.0]]

# Answers

In [11]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" :392.742,
            "Q2" :[['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]],
            "Q3":['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity'],
            "Q4":[['Cab/Chassis 2WD', 1993, 4.112255865424778],
            ['Cab/Chassis 2WD', 1992, 4.112255865424778],
            ['Cab/Chassis 2WD', 1991, 4.112255865424778],
            ['Cab/Chassis 2WD', 1990, 4.112255865424778],
            ['Cab/Chassis 2WD', 1989, 4.112255865424778],
            ['Cab/Chassis 2WD', 1993, 3.3791118637260777],
            ['Cab/Chassis 2WD', 1992, 3.3791118637260777],
            ['Land Cruiser Wagon 4WD', 1992, 3.3791118637260777],
            ['Cab/Chassis 2WD', 1991, 3.3791118637260777]],
            "Q5":[[1986.0, 26.0, 0.0],
            [1987.0, 26.0, 0.0],
            [1988.0, 25.0, -1.0],
            [1989.0, 25.0, 0.0],
            [1999.0, 24.0, -1.0],
            [2000.0, 24.0, 0.0],
            [2001.0, 24.0, 0.0],
            [2002.0, 24.0, 0.0],
            [2003.0, 24.0, 0.0],
            [2004.0, 24.0, 0.0],
            [2005.0, 24.0, 0.0],
            [2006.0, 24.0, 0.0],
            [2010.0, 25.0, 1.0],
            [2011.0, 26.0, 1.0],
            [2012.0, 26.0, 0.0],
            [2013.0, 26.0, 0.0],
            [2015.0, 30.0, 4.0],
            [2016.0, 30.0, 0.0],
            [2017.0, 29.0, -1.0]],
            "Q6":[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
            ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
            ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
            ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
            ['Honda',
            130.0,
            167.67924528301887,
            167.67924528301887,
            167.67924528301887,
            167.67924528301887]], 
            "Q7":[[(1984, 1988), 19.0], [(1989, 1993), 18.0], [(1994, 1998), 19.0], [(1999, 2003), 19.0], [(2004, 2008), 19.0], [(2009, 2013), 21.0], [(2014, 2018), 22.0]]
}

# Unit Testing

In [12]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 16 tests in 0.092s

OK

# Save as a .pkl file

In [13]:
import pickle

file_name = "CHARITY_NGARI_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)